<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>URL Shortener Microservice</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/page.js" defer></script>
	</head>
	<body>
		<header>
			<h2>URL Shortener Microservice</h2>
			<hr />
		</header>
		<main>
			<section id="shortener">
				<form action="api/shorturl" method="POST" enctype="application/x-www-form-urlencoded">
					<label for="long-url">URL:</label>
					<input name="url" id="long-url" type="url" placeholder="https://www.google.com" autocomplete="off" required>
					<button id="submit" type="submit">Shorten</button>
				</form>
				<div id="error" class="hidden"></div>
			</section>
			<section id="usage">
				<p class="section-title">Example Usage:</p>
				<a href="api/shorturl/1">[project url]/api/shorturl/1</a>
			</section>
			<section id="output">
				<p class="section-title">Will redirect to:</p>
				<p>https://www.google.com</p>
			</section>
		</main>
	</body>
</html>
